@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* stylesheet start form here */

.wrapper{
  width: 300px;
  height: 600px;
  border: 1px solid black;
  text-align: center;
  background-image: url("../images/bg.jpg");
  margin: 40px auto;
  position: relative;
  overflow: hidden;
}

.wrapper h1,.headings h1,figure img, button{
  display: none;
}

.wrapper figure img:first-child{
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

.table{
  display: block;
  opacity: 0;
  position: absolute;
  bottom: 0;
  animation-name: table;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes table{
  from {opacity: 0;}
  to {opacity: 1;}
}

.plate{
  display: block;
  position: absolute;
  left: -300px;
  bottom: 10px;
  z-index: 1;
  animation-name: plate;
  animation-duration: 4s;
  animation-delay: 1s;
}

@keyframes plate{
  0%   {left: -300px;}
  25%  {left: -40px;}
  50%  {left: -40px;}
  75%  {left: -40px;}
  100% {left: -300px;}
}

.sad{
  display: block;
  position: absolute;
  right: -220px;
  bottom: 94px;
  z-index: 1;
  animation-name: sad;
  animation-duration: 4s;
  animation-delay: 1.5s;
}

@keyframes sad{
  0%   {right: -220px;}
  25%  {right: 0px;}
  50%  {right: 0px;}
  75%  {right: 0px;}
  100% {right: -300px;}
}

.headings h1{
  color: #ed1c24;
  font-size: 35px;
  text-transform: capitalize;
  position: absolute;
  transform: translate(-50%,0%);
}

.headings .bor_sandwich{
  display: block;
  left: -45%;
  top: 115px;
  animation-name: bor_sandwich;
  animation-duration: 4s;
  animation-delay: 1.5s;
}

@keyframes bor_sandwich{
  0%   {left: -45%;}
  25%  {left: 50%;}
  50%  {left: 50%;}
  75%  {left: 50%;}
  100% {left: -45%;}
}

.headings .sandwicheto{
  display: block;
  left: -45%;
  top: 115px;
  animation-name: sandwicheto;
  animation-duration: 4s;
  animation-delay: 7s;
}

@keyframes sandwicheto{
  0%   {left: -45%;}
  25%  {left: 50%;}
  50%  {left: 50%;}
  75%  {left: 50%;}
  100% {left: -45%;}
}

.headings .veg_mayo{
  display: block;
  left: -47%;
  top: 115px;
  animation-name: veg_mayo;
  animation-duration: 4s;
  animation-delay: 11s;
  width: max-content;
}

@keyframes veg_mayo{
  0%   {left: -47%;}
  25%  {left: 50%;}
  50%  {left: 50%;}
  75%  {left: 50%;}
  100% {left: -47%;}
}

.headings .magic{
  display: block;
  left: -47%;
  top: 115px;
  animation-name: magic;
  animation-duration: 4s;
  animation-delay: 15s;
  width: max-content;
  animation-fill-mode: forwards;
}

@keyframes magic{
  0%   {left: -47%;}
  25%  {left: 50%;}
  50%  {left: 50%;}
  75%  {left: 50%;}
  100% {left: 50%;}
}

.headings button{
  display: block;
  position: absolute;
  padding: 11px 25px;
  background-color: #3D2A87;
  font-size: 21px;
  color: #fff;
  left: -26%;
  top: 75px;
  transform: translate(-50%,0);
  border: none;
  border-radius: 10px;
  text-transform: capitalize;
  animation-name: button;
  animation-duration: 4s;
  animation-delay: 17s;
  animation-fill-mode: forwards;
}

@keyframes button{
  0%   {left: -26%; top: 75px;}
  20%  {left: 50%; top: 225px;}
  40%  {left: 50%; top: 225px;}
  60%  {left: 50%; top: 225px;}
  80%  {left: 50%; top: 225px;}
  100% {left: 50%; top: 225px;}
}

.sandwich1{
  display: block;
  position: absolute;
  left: -240px;
  bottom: 22px;
  z-index: 2;
  animation-name: sandwich1;
  animation-duration: 10.5s;
  animation-delay: 4s;
}

@keyframes sandwich1{
  0%   {left: -240px;}
  20%  {left: -37px;}
  40%  {left: -37px;}
  60%  {left: -37px;}
  80%  {left: -37px;}
  95%  {left: -37px;}
  100% {left: -240px;}
}

.knife{
  display: block;
  visibility: hidden;
  position: absolute;
  left: 15px;
  bottom: 58px;
  z-index: 5;
  transform: rotate(-60deg);
  animation-name: knife;
  animation-duration:1s;
  animation-delay: 6s;
}

@keyframes knife{
  0%   {left: 15px; visibility: visible;}
  20%  {left: 15px; visibility: visible;}
  85%  {left: 115px; visibility: visible;}
  90%  {left: 115px; visibility: hidden;}
  100% {left: 115px; visibility: hidden;}
}

.mayo{
  display: block;
  opacity: 0;
  position: absolute;
  left: 2px;
  bottom: 57px;
  z-index: 4;
  animation-name: mayo;
  animation-duration: 8.3s;
  animation-delay: 6.1s;
  animation-fill-mode: forwards;
}

@keyframes mayo{
  0%   {opacity: 0; left: 2px;}
  10%  {opacity: 1; left: 2px;}
  40%  {opacity: 1; left: 2px;}
  60%  {opacity: 1; left: 2px;}
  95%  {opacity: 1; left: 2px;}
  100% {opacity: 1; left: -140px;}
}

.veggies{
  display: block;
  position: absolute;
  left: -200px;
  bottom: 44px;
  z-index: 3;
  animation-name: veggies;
  animation-duration: 10.5s;
  animation-delay: 4s;
}

@keyframes veggies{
  0%   {left: -200px;}
  20%  {left: -5px;}
  40%  {left: -5px;}
  60%  {left: -5px;}
  80%  {left: -5px;}
  95%  {left: -5px;}
  100% {left: -200px;}
}

.sandwich2{
  display: block;
  position: absolute;
  left: -200px;
  bottom: 57px;
  z-index: 6;
  animation-name: sandwich2;
  animation-duration: 10.5s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes sandwich2{
  0%   {left: -200px; bottom: 57px;}
  20%  {left: 2px; bottom: 57px;}
  25%  {left: 2px; bottom: 90px;}
  30%  {left: 2px; bottom: 67px;}
  35%  {left: 2px; bottom: 67px;}
  50%  {left: 2px; bottom: 67px;}
  80%  {left: 2px; bottom: 67px;}
  95%  {left: 2px; bottom: 67px;}
  100% {left: -200px; bottom: 67px;}
}

.happy{
  display: block;
  position: absolute;
  right: -235px;
  bottom: 102px;
  animation-name: happy;
  animation-duration: 4s;
  animation-delay: 7s;
}

@keyframes happy{
  0%   {right: -235px;}
  20%  {right: -2px;}
  40%  {right: -2px;}
  60%  {right: -2px;}
  80%  {right: -2px;}
  100% {right: -235px;}
}

.chef{
  display: block;
  position: absolute;
  right: -245px;
  bottom: 102px;
  animation-name: chef;
  animation-duration: 4s;
  animation-delay: 11s;
}

@keyframes chef{
  0%   {right: -245px;}
  20%  {right: 0px;}
  40%  {right: 0px;}
  60%  {right: 0px;}
  80%  {right: 0px;}
  100% {right: -245px;}
}

.veg_mayo_img{
  display: block;
  position: absolute;
  transform: translate(50%,0);
  right: -20%;
  bottom: 20px;
  animation-name: veg_mayo_img;
  animation-duration: 4s;
  animation-delay: 15s;
  animation-fill-mode: forwards;
}

@keyframes veg_mayo_img{
  0%   {right: -20%;}
  20%  {right: 50%;}
  40%  {right: 50%;}
  60%  {right: 50%;}
  80%  {right: 50%;}
  100% {right: 50%;}
}

.hat{
  display: block;
  position: absolute;
  transform: translate(-50%,0);
  left: -25%;
  bottom: 370px;
  animation-name: hat;
  animation-duration: 4s;
  animation-delay: 16s;
  z-index: 8;
  animation-fill-mode: forwards;
}

@keyframes hat{
  0%   {left: -25%; bottom: 370px;}
  20%  {left: 57%; bottom: 250px;}
  40%  {left: 57%; bottom: 147px;}
  60%  {left: 57%; bottom: 147px;}
  80%  {left: 57%; bottom: 147px;}
  100% {left: 57%; bottom: 147px;}
}

